process {

    withName: RECON {
        ext.args = {[
            "--cores ${task.cpus}",
            meta.bead ? "--bead ${meta.bead}" : '',
            meta.diameter ? "--diameter ${meta.diameter}" : '',
            meta.knn_filter ? '--knn_filter' : '',
            meta.n_neighbors ? "--n_neighbors ${meta.n_neighbors}" : '',
            meta.local_connectivity ? "--local_connectivity ${meta.local_connectivity}" : '',
            meta.spread ? "--spread ${meta.spread}" : '',
            meta.min_dist ? "--min_dist ${meta.min_dist}" : '',
            meta.repulsion_strength ? "--repulsion_strength ${meta.repulsion_strength}" : '',
            meta.negative_sample_rate ? "--negative_sample_rate ${meta.negative_sample_rate}" : '',
            meta.n_epochs ? "--n_epochs ${meta.n_epochs}" : ''
        ].join(" ").trim()}

        memory = {
            if (workflow.stubRun) {
                return 1.GB
            }
            def matrix_files = recon_count_and_knn_files.findAll({ f -> f.name == 'matrix.csv.gz' }).toList()
            if (matrix_files.isEmpty()) {
                return 1.GB
            }
            def matrix = matrix_files.first()
            if (!matrix.exists()) {
                return 1.GB
            }
            def matrix_size_gb = matrix.size() / (1024.0d ** 3)
            def memory_estimate = Math.ceil(25 * matrix_size_gb).intValue().GB as MemoryUnit
            return [memory_estimate, 2.GB].max()
         }

         cpus = {
            if (workflow.stubRun) {
                return 1
            }
            def recon_gb_per_cpu = 16.0
            def recon_cpu_step = 4
            // Increase cpus in steps of 4
            def task_cpus = task.memory.toBytes() / (1024.0d ** 3) / recon_gb_per_cpu
            def recon_cpus = Math.ceil(task_cpus / recon_cpu_step).intValue() * recon_cpu_step
            return Math.clamp(recon_cpus, 2, 48)
         }

         maxRetries = 3
    }
}
